.produ_btn {
    background:#08456B;
    border-radius: 12px;
    padding: 8px 35px;
    font-size: 14px;
    color: #fff;
    border: 2px solid #08456B;
}
.produ_btn:hover {
    background: #fff; 
    color: #08456B;
    border: 2px solid #08456B;
}
.produ_btnT {
    background:#fff;
    border-radius: 12px;
    padding: 8px 35px;
    font-size: 14px;
    color: #08456B;
    border: 2px solid #08456B;
}
.produ_btnT:hover {
    background: #08456B;
    color: #fff;
    border: 2px solid #08456B;
}
.cart_bt {
    background-image: url(../img/product/cart1.png);
    height: 18px;
    width: 19px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin: -4px 10px;
}
.produ_btn:hover .cart_bt{
    background-image: url(../img/product/cart2.png);
}
/* product top area start */
#product_t{
    background-image: url(../img/product/product_bg_top.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.product_t_bgc{
    position: relative;
}
.product_t_text {
    margin:50% auto;
}
.product_t_text .pro_p_t{
    letter-spacing:4px;
}
.product_t_text h1{
    font-size: 50px;
}
.product_t_img {
    width: 70%; 
    position: absolute;
    right: 0;
    bottom: -83px;
    z-index: 1;
}
/* product top area end */
/* cart start */
#cart_area {
    margin-top: 60px;
}
#sideSlider{
    padding-bottom: 80px;
}
.slide_pro_inner{
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0004);
}
.slide_pro_item{
    text-align: center;
}
.slide_pro_item img{
    width:400px;
}
.slide_pro_prev{
    left: 35px;
}
.slide_pro_next{
    right: 35px;
}
.cart_text h1{
    position: relative;
}
.cart_text h1:after {
    content: "";
    position: absolute;
    height: 5px;
    background: #eeb80d;
    width: 150px; 
    bottom: -10px;
    left: 0; 
}
.cart_img_logo{
    box-shadow: 0px 0 15px 2px #ccc;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
}
.cart_img_logo img{
    height:115px; 
}
#sideSlid{
    background-image:url('../img/product/slider_bg001.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.cart_ul {
    list-style:none;
}
.cart_ul li {
    line-height: 2;
    padding-left: 25px;
}
.cart_ul i{
   color: #eeb80d;
   font-size: 16px;
   padding-right: 10px;
}

/* cart end */
/* video modal area start */
#video_modal{
    position: relative;
    padding-top: 80px;
}
.video_m_lay{
    box-shadow: 0px 0 15px 10px #ccc;
}
.video_m{
    position: relative;
}
.video_after_text {
    position: absolute;
    top: 30px;
    padding: 30px;
}
/* video btn */
.pluse_video_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.pluse_video_btn a:hover{
    text-decoration: none;
}
.pluseOne {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    box-shadow: 0px 0px 17px -4px rgb(0 153 153 / 70%);
}
.pluse{
    height:65px;
    width: 65px;
    border-radius:50%;
    color: #009999;
    background:#fff;
    box-shadow: 0 0 0 0 rgba(0, 153,153,0.7) ;
    font-size:22px; 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: video_btn 2s linear infinite ;
}
@keyframes video_btn{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 153,153,0.7) ;
    }
    40%{
        box-shadow: 0 0 0 50px rgba(255, 109,74,0) ;
    }
    80%{
        box-shadow: 0 0 0 50px rgba(255, 109,74,0) ;
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255, 109,74,0) ;
    } 
}
/* video modal area end */
/* key nutrition area start */
#count_med{
    background-image: url(../img/product/ModuleBG.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 180px;
}
.key_container{
    position: relative;
}
.key_p {
    font-size: 26px;
    font-weight: 500;
    position: relative;
}
.key_p:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background: #009999;
    left: 0;
    bottom: -10px;
}
.key_nu_f4{
    position: relative;
}
.key_nu_f4 h1 {
    font-size: 70px;
}
.key_nu_f4 p {
    font-weight: bold;
    font-size: 22px;
    margin:0;
}
.key_nu_f4:before {
    position: absolute;
    content: "";
    height: 95px;
    width: 3px;
    background: #eeb80d;
    left: -21px;
    top: 28px;
}
.key_img {
    position: absolute;
    bottom: -121px;
    right: 0px;
} 
/* key nutrition area end */
/* facts area start */
.fact_pill .nav-link.active, .nav-pills .show > .nav-link {
    background: #fff;
    box-shadow: 0px 0 15px 2px #ccc;
    color: #000;
    border-top: 5px solid #08456B;
    position: relative;
}
.fact_pill .nav-link.active::after {
    position: absolute;
    width: 29px;
    content: "";
    height: 33px;
    right: -38px;
    top: 21%;
    background-image: url(../img/product/fact_arrow.png);
    background-position: 50%;
    background-size: cover;
     
}
.fact_pill a{
    color: #494949;
}
.fact_right_img {
    width: 190px;
    border-radius: 50%;
}
.fact_l_color {
    position: relative;
}
.fact_l_color::before {
    position: absolute;
    content: "";
    height: 50px;
    width: 4px;
    background: #eeb80d;
    left: -13px;
    bottom: 3px;
}
.fact_right{
    padding-left: 30px;
}
/* facts area end */

/* endorsed area start */
.endors_lay img{ 
    height:65px;
}
.data_conteiner{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-template-rows:  minmax(100px,1fr);
    margin: 40px 0;
    grid-auto-flow: dense; 
}
.data_conteiner .box{ 
    padding:20px;
    display: grid;
    place-items: start; 
    transition:0.5s;
    margin: 10px;
    background-size: cover;
    background-position: top;
    box-shadow: 0px 0 15px 10px #ccc;
}
.data_conteiner .box:nth-child(1){
    grid-column: span 2;
    grid-row:span 5;
}
.data_conteiner .box:nth-child(2){
    grid-column: span 2;
    grid-row:span 2;
}
.data_conteiner .box:nth-child(3){
    grid-column: span 1;
    grid-row:span 1;
}
.data_conteiner .box:nth-child(4){
    grid-column: span 1;
    grid-row:span 1;
}
.box{
    background-size: cover;
    background-position: top;
}
.content img{
    height: 38px;
}
.data_content{
    padding: 35px;
}
.data_ul li{
    list-style:none;
    font-size: 16px;
    color:#fff;
    line-height: 35px;
}
/* endorsed area end */
/* help area start */
.help_r {
    display: flex;
    align-items: center;
    flex-flow: nowrap;
    background: #fff;
    height: 230px;
    box-shadow: 40px 5px 52px -12px #cccccc9c;
}
.help_im{  
    width: 60%;
}
.help_button .hlp{
    margin-right: 35px;
}
/* help area end */
/* suggest area start */
.sugge{
    position: relative;
    display: flex;
    flex-direction: row-reverse; 
}
.sugge_img {
    position: absolute;
    width: 45%;
    left: -5px;
    bottom: -35px;
}
.sugge_text{
    box-shadow: 0px 0 15px 2px #ccc;
    width: 70%;
}
/* suggest area end */
/* discover area start  */
.discover_im_area{
    position: relative;
}
.dico_image{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
}
.dico_image img{
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(255,255,255,0.2)));
}
/* discover area end  */
/* testing page start  */
/* top area */
.left h2 {
    font-size: 45px;
    color: #08456b;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 10px 0;
    padding-bottom: 10px;
  }
  .left p {
    color: #08456b;
    padding: 0px 10px;
    line-height: 28px;
  }
   

/* middle area  */
.row.bbt {
	border-bottom: 1px solid #c5c5c5;
}
.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /*! border-bottom: 2px solid red; */
  }
  .menu ul li {
    list-style: none;
    padding: 0px 15px;
  }
  .menu ul li:first-child{
      padding-left: 0;
  }
  .menu ul li a {
    text-decoration: none;
    color: #08456b;
    font-size: 28px;
    font-weight: 600;
    position: relative;
    transition: .3s;
  }
  .menu ul li:hover a{
    color: #00afa1;
  }
/* .menu ul li:hover a:before {
  position: absolute;
  content: "";
  background-color: #00afa1;
  height: 3px;
  width: 148px;
  left: 0;
  bottom: -5px;
} */

  .paragraph p {
	font-size: 20px;
	padding: 20px 0;
	padding-top: 40px;
	color: #08456b;
}

/* bottom area  */
.heading_category h4 {
	font-size: 22px;
	padding: 30px 0;
	color: #494949;
}
.heading_category ul {
    display: flex;
    flex-direction: column;
  }
  .heading_category ul li {
    list-style: none;
    padding: 15px 0;
  }
  .heading_category ul li a {
    color: #494949;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid #d5d5d5;
    padding: 5px 0px;
    position: relative;
  }
  .heading_category ul li:hover a{
      color: #00afa1 !important;
  }
  .heading_category ul li:hover a:before {
	position: absolute;
	content: "";
	background-color: #edbf00ed;
	height: 2px;
	width: 157px;
	left: 0;
	bottom: -2px;
}

.testing_ul .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #00afa1;
    background: none;
    border: none;
    border-bottom: 5px solid #00afa1;
}
.nav-tabs .nav-link {
    border: none;
}
/* .test_bt:hover,.test_bt:focus{
    color: #08456b;
} */

.row.bdr {
	padding: 30px;
	background-color: #fff;
	box-shadow: 0px 10px 30px 0px rgba(205, 205, 205, 0.33);
    border-radius: 10px;
    padding-bottom: 20px;
}
.border_b {
    border-bottom: 3px solid #08456b;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  .border_b h2 {
    font-size: 30px;
    font-weight: 700;
    color: #08456b;
  }

  .content_table {
      border-collapse: collapse;
      margin: 25px 0;
      min-width: 680px;
  }
  .content_table thead tr {
      text-align: left;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      font-weight: 600;
  }
  .content_table th,
  .content_table td {
      padding: 12px 15px;
  }
  .content_table tbody tr {
      border-bottom: 1px solid #dddddd;
  }
  .content_table tbody tr:nth-last-of-type(even) {
      background-color: #f2f2f2;
  }
  .prgp p {
	padding: 10px 20px;
	font-size: 14px;
}

.accordion .card {
	border: none;
}
.ph {
    width: 100%;
	padding: 30px;
	background-color: #fff;
	box-shadow: 0px 10px 30px 0px rgba(205, 205, 205, 0.33);
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 25px;
}
.accordion-toggle::after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right;
    color: red;
}
.accordion-toggle.collapsed::after {    
    content: "\e11";    
    color: #009999;
}
.fact_3_col{
    text-align:center;
}
.fact_3_col img{
    border-radius: 50%;
    height:110px;
    margin-bottom: 15px;
}
.fact_3_col p{
    color: #08456B;
    margin: 0;
}
/* testing page end */